@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

table {
  border-radius: 5px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  font-size: 1.2em;

  * {
    padding: 15px;
    font-size: 1em;
  }

  tr:nth-child(even) td {
    background: #E1E5EA;
  }
}

.home {

  .main {
    .context_car {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1em;
      padding: 15px;
    }
  }
}

.dashboard {
  width: 100%;
}

.signup {
  min-height: 100%;
  margin-bottom: 0;

  * {
    text-align: center;
  }

  .container {
    width: 100%;
    height: 100%;
    text-align: center;

    .form {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 0 auto;
      min-height: 95vh;
      //min-height: 100vh;

      .context_left, .context_right {
        width: 100%;
        padding: 20px 10px;
        border-top-right-radius: 5px;

        .title_title {
          margin-bottom: 2em;
          text-transform: uppercase;

          h3 {
            letter-spacing: .07em;
          }
        }

        .title_title.add_margin {
          margin-top: 3em;
        }
      }

      .context_left {
        * {
          color: #231E23 !important;
        }

        input:-webkit-autofill {
          -webkit-text-fill-color: #231E23;
        }
      }

      .context_right {
        color: #E1E5EA;
        background: #495664;
        * {
          background: #495664;
          color: #E1E5EA !important;
        }

        input::placeholder {
          color: #E1E5EA;
        }

        input {
          color: #E1E5EA;
        }
        .btn-container {
          margin-top: 5em;
        }
      }

      .form-group-row {
        display: flex;
        padding: 15px 25px;
         * {
           font-size: 1.1em;
         }

        .form-group {
          display: flex;

          gap: 1em;
          input {
            width: auto;
          }

          label {
            margin-top: -.3em;
          }
        }
      }

      .btn-container {
        text-align: left;
        padding: 10px 30px;
        margin-bottom: 0;

        input {
          cursor: pointer;
          margin-top: 2em;
          border: 1px solid #F9F3DF;
          text-align: center;
          width: 60%;
          border-radius: 20px;
          font-size: 1.3em;
          color: #343434 !important;
          background: #F7F6F2 !important;
        }
      }
    }
  }
}

.car {

  .container {

    .context_new_car {
      width: 80%;
      margin: 0 auto;
      text-align: center;

      .form {
        width: 60%;
        margin: 0 auto;


        .btn-container {
          width: 60%;
          margin: 3em auto;

          input {
            border: 1px solid #E1E5EA;
            text-align: center;
            border-radius: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
