@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
.table_container {
  padding: 15px;
  overflow: auto;
}

table {
  border-radius: 5px;
  font-weight: normal;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  font-size: 1.1em;
  margin-top: 2em;
  border: 1px solid #E1E5EA;
  padding-bottom: 15px;
}
table thead h5 {
  text-transform: uppercase;
  width: 55%;
  text-align: left;
  font-weight: normal;
  border-bottom: 2px dotted #E1E5EA;
  margin-bottom: 1em;
}
table thead, table tbody {
  padding: 0 15px !important;
}
table * {
  padding: 15px;
  font-size: 1em;
}
table tr:hover {
  cursor: pointer;
}
table tr:hover td {
  background: #CEE5D0 !important;
}
table tr:nth-child(even) td {
  background: #E1E5EA;
}
table .pagination_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
table .pagination_wrapper li {
  list-style: none;
  border: 1px solid #E1E5EA;
  width: 90%;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}
table .pagination_wrapper li:hover {
  background: #E1E5EA;
}

.mt_remove {
  margin-top: 0;
}

.home .main .context_car {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 15px;
}

.dashboard {
  width: 100%;
}
.dashboard .header {
  margin-bottom: 2em;
  border-bottom: 1px solid #E1E5EA;
  background: #e1e5ea;
  background: linear-gradient(90deg, #e1e5ea 0%, #e1e5ea 100%);
}
.dashboard .header * {
  background: transparent;
}
.dashboard .dash_main .btn_show {
  padding-top: 4em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  grid-gap: 0.5em;
}
.dashboard .dash_main .btn_show li {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto;
  border: 1px solid #E1E5EA;
  padding: 10px 0;
  border-radius: 20px;
  font-size: 1.3em;
  text-align: center;
  cursor: pointer;
}
.dashboard .dash_main .btn_show li svg {
  font-size: 1.3em;
  margin-top: -0.09em;
}
.dashboard .checklist {
  border-left: 1px solid #E1E5EA;
}
.dashboard .checklist .search_container {
  width: 80%;
  margin: 0 auto 2em;
}
.dashboard .checklist .car_card {
  width: 100%;
  padding: 15px;
}
.dashboard .checklist .car_card h2 {
  padding: 15px;
  margin-top: 0.5em;
  font-size: 1.5em;
  font-weight: normal;
}
.dashboard .checklist .car_card * {
  text-align: left;
}
.dashboard .checklist .car_card .card_header {
  padding: 15px;
}
.dashboard .checklist .car_card .card_header h3 {
  font-weight: normal;
  font-size: 1.2em;
}
.dashboard .checklist .car_card .card_header h3 span {
  font-size: 1.3em;
  padding-left: 15px;
}
.dashboard .checklist .car_card .card_body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.8em;
  padding: 15px;
}
.dashboard .checklist .car_card .card_body * {
  font-size: 1.1em;
}
.dashboard .checklist .car_card .card_body h5 {
  font-weight: normal;
}
.dashboard .checklist .car_card .card_body h5 span {
  font-size: 1.2em;
}
.dashboard .checklist .driver {
  width: 100%;
  padding: 15px;
}
.dashboard .checklist .driver .title {
  font-size: 1.1em;
  font-weight: normal;
  text-transform: uppercase;
}
.dashboard .checklist .driver .driver_context *, .dashboard .checklist .driver .checkout_context * {
  text-align: left;
  font-size: 1.1em;
}
.dashboard .checklist .driver .driver_context:first-child, .dashboard .checklist .driver .checkout_context:first-child {
  border: none;
  margin: 0;
}
.dashboard .checklist .driver .driver_context .title, .dashboard .checklist .driver .checkout_context .title {
  border-bottom: 2px dotted #E1E5EA;
  padding: 15px 0 10px;
  margin-bottom: 1em;
  font-size: 1.2em;
}
.dashboard .checklist .driver .driver_context span, .dashboard .checklist .driver .checkout_context span {
  font-size: 1.1em;
}
.dashboard .checklist .driver .context.address {
  display: list-item;
  list-style-type: square;
  padding-top: 0;
  width: 90%;
  margin: 0 auto;
}
.dashboard .checklist .driver .checkout_context {
  padding-top: 1em;
}
.dashboard .checklist .driver .driver_context p {
  padding: 5px;
}
.dashboard .checklist .driver .checkout_context .context {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.dashboard .checklist .driver .checkout_context .context p {
  padding: 5px;
}
.dashboard .checklist .driver .checkout_context .context li {
  font-size: 1.2em;
  text-align: center;
  list-style: square;
}
.dashboard .checklist .btn_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  padding: 20px 0;
  margin-top: 2em;
}
.dashboard .checklist .btn_container * {
  text-align: center;
}
.dashboard .checklist .btn_container li {
  border: 1px solid #E1E5EA;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
}
.dashboard .checklist .btn_container li svg {
  background: transparent;
  font-size: 1.5em;
}
.dashboard .checklist .btn_container li:hover {
  background: #2FDD92;
}
.dashboard .checklist .btn_container li:hover:hover {
  color: white;
}
.dashboard .checklist .btn_container li:hover:last-child {
  background: #E02401;
}

.signup {
  min-height: 100%;
  margin-bottom: 0;
}
.signup * {
  text-align: center;
}
.signup .container {
  width: 100%;
  height: 100%;
  text-align: center;
}
.signup .container .form {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  min-height: 95vh;
}
.signup .container .form .context_left, .signup .container .form .context_right {
  width: 100%;
  padding: 20px 10px;
  border-top-right-radius: 5px;
}
.signup .container .form .context_left .title_title, .signup .container .form .context_right .title_title {
  margin-bottom: 2em;
  text-transform: uppercase;
}
.signup .container .form .context_left .title_title h3, .signup .container .form .context_right .title_title h3 {
  letter-spacing: 0.07em;
}
.signup .container .form .context_left .title_title.add_margin, .signup .container .form .context_right .title_title.add_margin {
  margin-top: 3em;
}
.signup .container .form .context_left * {
  color: #231E23 !important;
}
.signup .container .form .context_left input:-webkit-autofill {
  -webkit-text-fill-color: #231E23;
}
.signup .container .form .context_right {
  color: #E1E5EA;
  background: #495664;
}
.signup .container .form .context_right * {
  background: #495664;
  color: #E1E5EA !important;
}
.signup .container .form .context_right input::placeholder {
  color: #E1E5EA;
}
.signup .container .form .context_right input {
  color: #E1E5EA;
}
.signup .container .form .context_right .btn-container {
  margin-top: 5em;
}
.signup .container .form .btn-container {
  text-align: left;
  padding: 10px 30px;
  margin-bottom: 0;
}
.signup .container .form .btn-container input {
  cursor: pointer;
  margin-top: 2em;
  border: 1px solid #F9F3DF;
  text-align: center;
  width: 60%;
  border-radius: 20px;
  font-size: 1.3em;
  color: #343434 !important;
  background: #F7F6F2 !important;
}

.car .container {
  width: 100%;
}
.car .container .context_new_car {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "form form form form car_container" "form form form form car_container" "form form form form car_container";
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.car .container .context_new_car .form {
  width: 80%;
  margin: 0 auto;
  padding-top: 5.5em;
}
.car .container .context_new_car .form .title_container h5 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  width: 55%;
  border-bottom: 2px dotted #E1E5EA;
  padding-bottom: 15px;
  margin-bottom: 2em;
}
.car .container .context_new_car .form .btn-container {
  width: 100%;
  margin: 3em auto;
}
.car .container .context_new_car .form .btn-container input {
  border: 1px solid #E1E5EA;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.car .container .context_new_car .form .btn-container input:hover {
  background: #CEE5D0;
}
.car .container .form {
  grid-area: form;
}
.car .container .car_container {
  grid-area: car_container;
}
.car .container .car_container .search_container {
  width: 100%;
}
.car .container .car_container .search_container input {
  width: 90%;
  padding-bottom: 10px;
  border-bottom: 1px solid #E1E5EA;
  font-size: 1.2em;
  text-align: left;
  padding-left: 10px;
}
.car .container .car_container .table {
  border: none;
  margin-top: 1em;
}

/*# sourceMappingURL=App.css.map */
