@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
.table_container {
  padding: 15px;
  overflow: auto;
}

table {
  border-radius: 5px;
  font-weight: normal;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  font-size: 1.1em;
  margin-top: 2em;
  border: 1px solid #E1E5EA;
  padding-bottom: 15px;
}
table thead h5 {
  text-transform: uppercase;
  width: 55%;
  text-align: left;
  font-weight: normal;
  border-bottom: 2px dotted #E1E5EA;
  margin-bottom: 1em;
}
table thead, table tbody {
  padding: 0 15px !important;
}
table * {
  padding: 15px;
  font-size: 1em;
}
table tr:hover {
  cursor: pointer;
}
table tr:hover td {
  background: #CEE5D0 !important;
}
table tr:nth-child(even) td {
  background: #E1E5EA;
}

.pagination_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.pagination_wrapper li {
  list-style: none;
  border: 1px solid #E1E5EA;
  width: 90%;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}
.pagination_wrapper li:hover {
  background: #E1E5EA;
}

.mt_remove {
  margin-top: 0;
}

.home {
  background: #FFF !important;
}
.home * {
  background: transparent;
}
.home .main .content_container {
  width: 100%;
}
.home .main .content_container .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.home .main .content_container .content * {
  background: #171010;
}
.home .main .content_container .content .content_info {
  padding: 4em 10px 15px;
  color: #FFF;
  width: auto;
  height: auto;
}
.home .main .content_container .content .content_info * {
  margin: auto;
}
.home .main .content_container .content .content_info h2 {
  width: 50%;
  font-size: 2em;
  text-transform: capitalize;
}
.home .main .content_container .content .content_info p {
  font-size: 1.3em;
  width: 80%;
  margin-top: 1em;
}
.home .main .content_container .content .content_info .btn_container {
  width: 80%;
  text-align: center;
  margin: 5em auto auto;
}
.home .main .content_container .content .content_info .btn_container li {
  font-size: 1.5em;
  padding: 15px;
  width: 60%;
  text-align: center;
  border: 1px solid #FF0000;
  background: #FF0000;
  border-radius: 15px;
}
.home .main .content_container .content .content_info .btn_container li:hover {
  cursor: pointer;
}
.home .main .content_container .content .image_container {
  width: 100%;
  height: 100%;
  background: #171010;
}
.home .main .content_container .content .image_container * {
  background: #171010;
}
.home .main .content_container .content .image_container img {
  width: 100%;
  height: 100%;
}
.home .main .context_car {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 15px;
}

.dashboard {
  width: 100%;
}
.dashboard .header {
  margin-bottom: 2em;
}
.dashboard .dash_main .btn_show {
  padding-top: 4em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  grid-gap: 0.5em;
}
.dashboard .dash_main .btn_show li {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto;
  border: 1px solid #E1E5EA;
  padding: 10px 0;
  border-radius: 20px;
  font-size: 1.3em;
  text-align: center;
  cursor: pointer;
}
.dashboard .dash_main .btn_show li svg {
  font-size: 1.3em;
  margin-top: -0.09em;
}
.dashboard .checklist {
  border-left: 1px solid #E1E5EA;
}
.dashboard .checklist .search_container {
  width: 80%;
  margin: 0 auto 2em;
}
.dashboard .checklist .car_card {
  width: 100%;
  padding: 15px;
}
.dashboard .checklist .car_card h2 {
  padding: 15px;
  margin-top: 0.5em;
  font-size: 1.5em;
  font-weight: normal;
}
.dashboard .checklist .car_card * {
  text-align: left;
}
.dashboard .checklist .car_card .card_header {
  padding: 15px;
}
.dashboard .checklist .car_card .card_header h3 {
  font-weight: normal;
  font-size: 1.2em;
}
.dashboard .checklist .car_card .card_header h3 span {
  font-size: 1.3em;
  padding-left: 15px;
}
.dashboard .checklist .car_card .card_body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.8em;
  padding: 15px;
}
.dashboard .checklist .car_card .card_body * {
  font-size: 1.1em;
}
.dashboard .checklist .car_card .card_body h5 {
  font-weight: normal;
}
.dashboard .checklist .car_card .card_body h5 span {
  font-size: 1.2em;
}
.dashboard .checklist .driver {
  width: 100%;
  padding: 15px;
}
.dashboard .checklist .driver .title {
  font-size: 1.1em;
  font-weight: normal;
  text-transform: uppercase;
}
.dashboard .checklist .driver .driver_context *, .dashboard .checklist .driver .checkout_context * {
  text-align: left;
  font-size: 1.1em;
}
.dashboard .checklist .driver .driver_context:first-child, .dashboard .checklist .driver .checkout_context:first-child {
  border: none;
  margin: 0;
}
.dashboard .checklist .driver .driver_context .title, .dashboard .checklist .driver .checkout_context .title {
  border-bottom: 2px dotted #E1E5EA;
  padding: 15px 0 10px;
  margin-bottom: 1em;
  font-size: 1.2em;
}
.dashboard .checklist .driver .driver_context span, .dashboard .checklist .driver .checkout_context span {
  font-size: 1.1em;
}
.dashboard .checklist .driver .context.address {
  display: list-item;
  list-style-type: square;
  padding-top: 0;
  width: 90%;
  margin: 0 auto;
}
.dashboard .checklist .driver .checkout_context {
  padding-top: 1em;
}
.dashboard .checklist .driver .driver_context p {
  padding: 5px;
}
.dashboard .checklist .driver .checkout_context .context {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.dashboard .checklist .driver .checkout_context .context p {
  padding: 5px;
}
.dashboard .checklist .driver .checkout_context .context li {
  font-size: 1.2em;
  text-align: center;
  list-style: square;
}
.dashboard .checklist .btn_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  padding: 20px 0;
  margin-top: 2em;
}
.dashboard .checklist .btn_container * {
  text-align: center;
}
.dashboard .checklist .btn_container li {
  border: 1px solid #E1E5EA;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
}
.dashboard .checklist .btn_container li svg {
  background: transparent;
  font-size: 1.5em;
}
.dashboard .checklist .btn_container li:hover {
  background: #2FDD92;
}
.dashboard .checklist .btn_container li:hover:hover {
  color: white;
}
.dashboard .checklist .btn_container li:hover:last-child {
  background: #E02401;
}

.signup {
  min-height: 100%;
  margin-bottom: 0;
}
.signup * {
  text-align: center;
}
.signup .container {
  width: 100%;
  height: 100%;
  text-align: center;
}
.signup .container .form {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  min-height: 95vh;
}
.signup .container .form .context_left, .signup .container .form .context_right {
  width: 100%;
  padding: 20px 10px;
  border-top-right-radius: 5px;
}
.signup .container .form .context_left .title_title, .signup .container .form .context_right .title_title {
  margin-bottom: 2em;
  text-transform: uppercase;
}
.signup .container .form .context_left .title_title h3, .signup .container .form .context_right .title_title h3 {
  letter-spacing: 0.07em;
}
.signup .container .form .context_left .title_title.add_margin, .signup .container .form .context_right .title_title.add_margin {
  margin-top: 3em;
}
.signup .container .form .context_left * {
  color: #231E23 !important;
}
.signup .container .form .context_left input:-webkit-autofill {
  -webkit-text-fill-color: #231E23;
}
.signup .container .form .context_right {
  color: #E1E5EA;
  background: #495664;
}
.signup .container .form .context_right * {
  background: #495664;
  color: #E1E5EA !important;
}
.signup .container .form .context_right input::placeholder {
  color: #E1E5EA;
}
.signup .container .form .context_right input {
  color: #E1E5EA;
}
.signup .container .form .context_right .btn-container {
  margin-top: 5em;
}
.signup .container .form .btn-container {
  text-align: left;
  padding: 10px 30px;
  margin-bottom: 0;
}
.signup .container .form .btn-container input {
  cursor: pointer;
  margin-top: 2em;
  border: 1px solid #F9F3DF;
  text-align: center;
  width: 60%;
  border-radius: 20px;
  font-size: 1.3em;
  color: #343434 !important;
  background: #F7F6F2 !important;
}

.login {
  min-height: 100vh;
  background: #e1e5ea;
  background: linear-gradient(to right, #e1e5ea 0%, #e1e5ea 100%);
}
.login * {
  background: transparent;
  color: #FFF;
  font-size: 1.1em;
}
.login .content_container {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("./assets/image/login.jpg") no-repeat right top;
}
.login .content_container .form {
  width: 50%;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 1px solid #E1E5EA;
  padding: 2em;
}
.login .content_container .form-group.btn-container .submit:hover {
  background: #E1E5EA;
  color: #000;
}

.car .container {
  width: 100%;
}
.car .container .context_new_car {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "form form form form car_container" "form form form form car_container" "form form form form car_container";
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.car .container .context_new_car .form {
  width: 80%;
  margin: 0 auto;
  padding-top: 5.5em;
}
.car .container .context_new_car .form .title_container h5 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  width: 55%;
  border-bottom: 2px dotted #E1E5EA;
  padding-bottom: 15px;
  margin-bottom: 2em;
}
.car .container .context_new_car .form .btn-container {
  width: 100%;
  margin: 3em auto;
}
.car .container .context_new_car .form .btn-container input {
  border: 1px solid #E1E5EA;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.car .container .context_new_car .form .btn-container input:hover {
  background: #CEE5D0;
}
.car .container .form {
  grid-area: form;
}
.car .container .car_container {
  grid-area: car_container;
}
.car .container .car_container .search_container {
  width: 100%;
}
.car .container .car_container .search_container input {
  width: 90%;
  padding-bottom: 10px;
  border-bottom: 1px solid #E1E5EA;
  font-size: 1.2em;
  text-align: left;
  padding-left: 10px;
}
.car .container .car_container .table {
  border: none;
  margin-top: 1em;
}

.carInventory .car_inventory_layout {
  padding: 5em 15px 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5em;
  grid-template-areas: "sub_nav sub_nav sub_nav" "main main main";
}
.carInventory .sub_nav {
  grid-area: sub_nav;
  border-bottom: 1px solid #E1E5EA;
  padding: 15px;
}
.carInventory .sub_nav .content {
  width: 50%;
  margin: auto;
}
.carInventory .sub_nav .content .search_container {
  width: 100%;
}
.carInventory .side_nav {
  grid-area: side_nav;
  border-right: 1px solid #E1E5EA;
}
.carInventory .side_nav .content_filter {
  padding: 15px;
}
.carInventory .side_nav .content_filter h5 {
  font-weight: normal;
  border-bottom: 1px solid #E1E5EA;
  padding-bottom: 5px;
}
.carInventory .main {
  grid-area: main;
}
.carInventory .main .paginate_data_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 0.5em;
  min-height: 60vh;
}
.carInventory .main .pagination_wrapper {
  width: 80%;
  margin: 2em auto auto;
}
.carInventory .main .pagination_wrapper li {
  padding: 10px;
}
.carInventory .main .card .btn_container {
  display: flex;
  gap: 0.5em;
}
.carInventory .main .card .btn_container .btn {
  border: 1px solid #E1E5EA;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.carInventory .main .no_data_found {
  min-height: 20vh;
  padding: 5em 15px 15px;
}
.carInventory .main .no_car_display {
  text-align: center;
  padding: 20px 15px 15px;
  margin-top: 2em;
}
.carInventory .main .no_car_display h4 {
  font-weight: normal;
  font-size: 1.3em;
  text-transform: capitalize;
}

.profile .profile_layout {
  padding: 20px 15px 15px;
}
.profile .profile_layout .content_left {
  grid-area: content_left;
  border-right: 1px solid #E1E5EA;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.profile .profile_layout .content_left .content_img_container {
  width: auto;
}
.profile .profile_layout .content_left .content_img_container .content_profile {
  width: 150px;
  height: 150px;
  text-align: center;
  padding-left: 4em;
  cursor: pointer;
  position: relative;
}
.profile .profile_layout .content_left .content_img_container .content_profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.profile .profile_layout .content_left .content_img_container .content_profile svg {
  position: absolute;
  top: 90%;
  left: 110%;
  transform: translate(-90%, -110%);
  font-size: 4em;
  background: transparent;
  color: #FFF;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.profile .profile_layout .content_left .content_img_container .content_profile img:hover ~ svg {
  visibility: visible;
  opacity: 1;
}
.profile .profile_layout .content_left .content_img_container .content_profile svg:hover {
  opacity: 1;
}
.profile .profile_layout .content_left .content_img_container .user_name_container {
  padding: 20px 15px 15px;
}
.profile .profile_layout .content_left .content_img_container .user_name_container h2 {
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  width: 50%;
}
.profile .profile_layout .content_left .content_img_container .user_name_container h2 p {
  width: 100%;
  text-align: center;
  padding-top: 5px;
  font-size: 0.8em;
  font-weight: 520;
}
.profile .profile_layout .content_left .content_img_container .btn_container {
  display: flex;
  gap: 15px;
  padding: 0 15px 15px;
  margin-top: 1em;
  border-bottom: 2px dotted #E1E5EA;
}
.profile .profile_layout .content_left .content_img_container .btn_container li {
  font-size: 1em;
  border: 0.1em solid #E1E5EA;
  padding: 5px 10px;
  cursor: pointer;
  background: #E1E5EA;
  text-transform: uppercase;
  background: #9BA4B4;
  color: #FFF;
}
.profile .profile_layout .content_left .content {
  width: 100%;
  margin: auto;
  text-align: left;
}
.profile .profile_layout .content_left .content .content_info {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5em;
  width: 100%;
  text-align: left;
  padding: 15px 15px;
  border-bottom: 2px dotted #E1E5EA;
}
.profile .profile_layout .content_left .content .content_info h5, .profile .profile_layout .content_left .content .content_info h3 {
  font-style: italic;
}
.profile .profile_layout .content_left .content .content_info h5 span, .profile .profile_layout .content_left .content .content_info h3 span {
  font-size: 1em;
  font-style: normal;
}
.profile .profile_layout .content_left .content .content_info * {
  text-align: left;
  font-weight: normal;
  font-size: 1.3em;
}
.profile .profile_layout .content_left .content .content_address {
  width: 80%;
  text-align: left;
  padding: 15px;
}
.profile .profile_layout .content_left .content .content_address * {
  text-align: left;
}
.profile .profile_layout .content_left .content .content_address .content {
  display: flex;
  width: 100%;
  gap: 15px;
  margin-bottom: 0.5em;
}
.profile .profile_layout .content_left .content .content_address .content .address {
  display: list-item;
  list-style-type: square;
  flex: 2 1 0;
}
.profile .profile_layout .content_left .content .content_address .content .btn_content {
  text-align: center;
  padding-top: 20px;
  display: flex;
  gap: 1.5em;
}
.profile .profile_layout .content_left .content .content_address .content .btn_content * {
  font-size: 1.1em;
  text-transform: uppercase;
}
.profile .profile_layout .content_left .content .content_address .content .btn_content svg {
  font-size: 1.7em;
  cursor: pointer;
}
.profile .profile_layout .content_left .content .content_address .content .btn_content svg:hover {
  font-size: 2em;
}
.profile .profile_layout .content_left .content .content_address .content .btn_content svg:first-child {
  fill: #34BE82;
}
.profile .profile_layout .content_left .content .content_address .content .btn_content svg:last-child {
  fill: #F90716;
}
.profile .profile_layout .content_left .content p {
  font-size: 1.3em;
  line-height: 30px;
}
.profile .profile_layout .content_right {
  grid-area: content_right;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 15px;
  grid-gap: 1em;
}
.profile .profile_layout .content_right .title_container {
  padding: 15px;
}
.profile .profile_layout .content_right .title_container h3 {
  font-size: 1.5em;
}
.profile .profile_layout .content_right .content_top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3em;
  border-bottom: 2px dotted #E1E5EA;
}
.profile .profile_layout .content_right .content_top .car_image_container {
  width: 100%;
  height: 100%;
}
.profile .profile_layout .content_right .content_top .car_image_container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.profile .profile_layout .content_right .content_top .recent_content {
  width: 100%;
  height: 100%;
  border-left: 2px dotted #E1E5EA;
  padding-left: 2em;
}
.profile .profile_layout .content_right .content_top .recent_content .content {
  margin-top: 5em;
}
.profile .profile_layout .content_right .content_top .recent_content .content .content_car * {
  font-weight: normal;
  font-size: 1.2em;
  text-align: left;
  padding: 5px 10px;
  font-style: italic;
}
.profile .profile_layout .content_right .content_top .recent_content .content .content_car span {
  font-style: normal;
}
.profile .profile_layout .content_right .content_bottom {
  display: grid;
  grid-template-columns: 3fr 4fr;
}
.profile .profile_layout .content_right .content_bottom .check-table {
  border: 1px solid #E1E5EA;
  border-radius: 5px;
  padding: 15px;
}
.profile .profile_layout .content_right .content_bottom .check-table h5 {
  text-align: left;
  font-weight: normal;
  font-size: 1.2em;
  text-transform: uppercase;
  border-bottom: 1px solid #E1E5EA;
  margin-bottom: 1em;
}
.profile .profile_layout .content_right .content_bottom .check-table .tbody {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.profile .profile_layout .content_right .content_bottom .check-table .tbody li {
  width: 100%;
  padding: 8px;
  cursor: pointer;
  font-size: 1.2em;
}
.profile .profile_layout .content_right .content_bottom .check-table .tbody li:hover {
  background: #B8E4F0 !important;
}
.profile .profile_layout .content_right .content_bottom .check-table .tbody li .click_checkout {
  background: transparent;
  font-size: 1em;
}
.profile .profile_layout .content_right .content_bottom .check-table .tbody li .check_in_car {
  font-size: 1.1em;
  width: 100%;
  text-align: center;
  margin-left: 2em;
  background: transparent;
  padding: 0 15px;
}
.profile .profile_layout .content_right .content_bottom .check-table .tbody li .check_in_car:hover {
  background: #9BA4B4;
  padding: 5px 15px;
  color: #FFF;
}
.profile .profile_layout .content_right .content_bottom .check-table .tbody li:nth-child(even) {
  background: #E1E5EA;
}
.profile .profile_layout .content_right .content_bottom .content {
  width: 100%;
}
.profile .profile_layout .content_right .content_bottom .content .img_caption {
  padding: 15px;
  bottom: 0.5em;
  width: 100%;
  text-align: center;
}
.profile .profile_layout .content_right .content_bottom .content .img_caption * {
  font-size: 1.4em;
}
.profile .profile_layout .content_right .content_bottom .content .image_slide {
  width: 600px;
}
.profile .profile_layout .content_right .content_bottom .content img {
  max-width: 60%;
  object-fit: cover;
}
.profile .profile_layout .content_right .container {
  padding: 15px;
  text-align: left;
}
.profile .profile_layout .content_right .container p {
  font-size: 1.2em;
  text-align: left;
  color: #34BE82;
}

/*# sourceMappingURL=App.css.map */
