* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
  border: none;
  scroll-behavior: smooth;
  box-shadow: none;
  outline: none;
  transition: all 0.2s ease-in-out;
  background: #F4F9F9;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #E1E5EA;
}

svg {
  font-size: 1.3em;
}

li {
  list-style: none;
  text-align: left;
}
li a {
  text-decoration: none;
  border: none !important;
}
li ul {
  list-style: none;
}
li ul li {
  position: relative;
  text-align: left;
  font-size: 0.9em !important;
}
li .dropdown {
  position: absolute;
  min-width: 12%;
  z-index: 10;
  background: #E1E5EA !important;
  padding: 10px 15px 15px 15px;
  margin-left: -0.5em;
  display: none;
}
li .dropdown li {
  padding: 5px;
  cursor: pointer;
}
li .dropdown li:hover {
  font-size: 1.1em !important;
}

.dropdown_nav {
  padding: 15px;
}
.dropdown_nav:hover {
  border: none !important;
}
.dropdown_nav:hover .dropdown {
  display: block;
}

.form-group {
  width: 100%;
  margin-top: 1.5em;
}
.form-group * {
  font-size: 1.1em;
}
.form-group input {
  width: 90%;
  padding: 10px;
  border-bottom: 1px solid #E1E5EA;
  background: transparent;
  text-align: left;
  letter-spacing: 1px;
}
.form-group input[type=date] {
  margin-bottom: 0.8em;
}

.card {
  border: 1px solid #E1E5EA;
  padding: 15px;
}
.card * {
  font-weight: normal;
  text-align: left;
  padding: 5px;
}
.card .card_header h3 {
  font-size: 1.3em;
}
.card .card_body {
  padding-top: 15px;
}
.card .card_body * {
  text-align: left;
}
.card .card_body h5 {
  font-size: 1.2em;
}
.card .card_action {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5em;
}
.card .card_action .btn:nth-child(1) {
  width: 100%;
}
.card .card_action .btn:nth-child(2) {
  width: 100%;
}
.card .card_action .btn {
  text-align: center;
  border: 1px solid #E1E5EA;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.card .card_action .btn:hover {
  border-color: #231E23;
}

.error {
  color: #FF3D68 !important;
  text-align: left;
  width: 80%;
  padding-left: 2.5em;
}

.error::placeholder {
  color: #FF3D68 !important;
}

.context_sub_nav {
  display: flex;
  border-bottom: 1px solid #E1E5EA;
  padding: 15px;
}
.context_sub_nav .search_container {
  border-bottom: 1px solid #E1E5EA;
  width: 40%;
  text-align: left;
}
.context_sub_nav .search_container .search {
  padding-bottom: 10px;
  text-align: left;
  padding-left: 5px;
}
.context_sub_nav .search_container svg {
  fill: #57CC99;
  position: absolute;
}
.context_sub_nav .btn_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.context_sub_nav .btn_container li {
  border: 1px solid #E1E5EA;
  list-style: none;
  padding: 5px 20px;
  font-size: 1.2em;
  cursor: pointer;
  background: #57CC99;
  border-radius: 10px;
  width: 20%;
}
.context_sub_nav .btn_container li svg {
  font-size: 1.2em;
  background: transparent;
  position: absolute;
}
.context_sub_nav .btn_container li:hover {
  font-size: 1.3em;
  width: 25%;
}
.context_sub_nav .btn_container * {
  color: white;
}

.header {
  width: 100%;
  background: transparent;
  padding: 0 15px;
}
.header * {
  text-underline: none;
  text-decoration: none;
  font-size: 1.1em;
  color: #151515;
  font-family: "Roboto", sans-serif;
}
.header .nave {
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  position: relative;
  align-items: center;
  counter-reset: item 0;
}
.header .nave .hero_logo svg {
  width: 35%;
  height: auto;
  float: left;
}
.header .nave .context_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
  padding-right: 15px;
}
.header .nave .context_links a:hover {
  border-bottom: 1px solid #E2703A;
  padding-bottom: 8px;
}
.header .nave .context_active_false {
  display: none;
}

.home {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

.dashboard .dash_context_layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "header header header header header" "dash_main dash_main dash_main checklist checklist";
}

.dash_main {
  grid-area: dash_main;
}

.checklist {
  grid-area: checklist;
}

.header {
  grid-area: header;
  height: auto;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.footer {
  grid-area: footer;
}

/*# sourceMappingURL=index.css.map */
