* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
  border: none;
  scroll-behavior: smooth;
  box-shadow: none;
  outline: none;
  transition: all .2s ease-in-out;
  background: #F4F9F9;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #E1E5EA;
}

svg {
  font-size: 1.3em;
}

li {
  list-style: none;
  text-align: left;

  a {
    text-decoration: none;
    border: none !important;
  }

  ul {
    list-style: none;

    li {
      position: relative;
      text-align: left;
      font-size: .9em !important;
    }
  }

  .dropdown {
    position: absolute;
    min-width: 12%;
    z-index: 10;
    background: #E1E5EA !important;
    padding: 10px 15px 15px 15px;
    margin-left: -.5em;
    display: none;

    li {
      padding: 5px;
      cursor: pointer;

      &:hover {
        font-size: 1.1em !important;
      }
    }
  }
}

.dropdown_nav {
  padding: 15px;
  &:hover {
    border: none !important;

    .dropdown {
      display: block;
    }
  }
}

.form-group {
  width: 100%;
  margin-top: 1.5em;
  * {
    font-size: 1.1em;
  }

  input {
    width: 90%;
    padding: 10px;
    border-bottom: 1px solid #E1E5EA;
    background: transparent;
    text-align: left;
    letter-spacing: 1px;
  }

  input[type = date] {
    margin-bottom: .8em;
  }
}

.card {
  border: 1px solid #E1E5EA;
  padding: 15px;

  * {
    font-weight: normal;
    text-align: left;
    padding: 5px;
  }

  .card_header {
    h3 {
      font-size: 1.3em;
    }
  }

  .card_body {
    padding-top: 15px;

    * {
      text-align: left;
    }

    h5 {
      font-size: 1.2em;
    }
  }

  .card_action {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: .5em;

    .btn:nth-child(1) {
      width: 100%;
    }
    .btn:nth-child(2) {
      width: 100%;
    }

    .btn {
      text-align: center;
      border: 1px solid #E1E5EA;
      padding: 10px;
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        border-color: #231E23;
      }
    }
  }
}

.error {
  color: #FF3D68 !important;
  text-align: left;
  width: 80%;
  padding-left: 2.5em;
}

.error::placeholder {
  color: #FF3D68 !important;
}

.context_sub_nav {
  display: flex;
  border-bottom: 1px solid #E1E5EA;
  padding: 15px;

  .search_container {
    border-bottom: 1px solid #E1E5EA;
    width: 40%;
    text-align: left;

    .search {
      padding-bottom: 10px;
      text-align: left;
      padding-left: 5px;
    }

    svg {
      fill: #57CC99;
      position: absolute;
    }
  }

  .btn_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: .5em;

    li {
      border: 1px solid #E1E5EA;
      list-style: none;
      padding: 5px 20px;
      font-size: 1.2em;
      cursor: pointer;
      background: #57CC99;
      border-radius: 10px;
      width: 20%;

      svg {
        font-size: 1.2em;
        background: transparent;
        position: absolute;
      }

      &:hover {
        font-size: 1.3em;
        width: 25%;
      }
    }

    * {
      color: white;
    }
  }
}

.header {
  width: 100%;
  background: transparent;
  padding: 0 15px;

  * {
    text-underline: none;
    text-decoration: none;
    font-size: 1.1em;
    color: #151515;
    font-family: 'Roboto', sans-serif;;
  }

  .nave {
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    position: relative;
    align-items: center;
    counter-reset: item 0;

    .hero_logo {

      svg {
        width: 35%;
        height: auto;
        float: left;
      }
    }

    .context_links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 1em;
      padding-right: 15px;

      a:hover {
        border-bottom: 1px solid #E2703A;
        padding-bottom: 8px;
      }
    }

    .context_active_false {
      display: none;
    }
  }
}

.home {
  display: grid;
  grid-template-areas:
          "header header header"
          "main main main"
          "footer footer footer";
}

.dashboard .dash_context_layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
          'header header header header header'
          'dash_main dash_main dash_main checklist checklist'
}

.dash_main {
  grid-area: dash_main;
}

.checklist {
  grid-area: checklist;
}

.header {
  grid-area: header;
  height: auto;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  //min-height: 100vh;
  //background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("image/home_bg.jpg") no-repeat center center;
}

.footer {
  grid-area: footer;
}
